<template>
    <div class="row p-strip">
        <loading :loading="loading" />

        <div v-if="!loading">
            <div class="p-card">
                <header class="p-card__header" v-if="recipe && recipe.image">
                    <img :src="image" :alt="recipe.title" />
                </header>

                <h3 class="p-card__title">
                    {{recipe.title}}
                </h3>
                <h4>
                    <star-rating :rating="recipe.rating" v-if="recipe.rating"></star-rating>
                </h4>
                <p class="p-card__content" v-if="recipe.description">{{recipe.description}}</p>

                <ul class="p-inline-list--middot">
                    <li class="p-inline-list__item" v-if="recipe.prep_time">
                        <span v-translate>Prep Time</span>: {{recipe.prep_time}}
                    </li>
                    <li class="p-inline-list__item" v-if="recipe.total_time">
                        <span v-translate>Total Time</span>: {{recipe.total_time}}
                    </li>
                </ul>
                <ul class="p-inline-list--middot">
                    <li
                        class="p-inline-list__item"
                        v-if="isExternalLink"
                    >
                        <a :href="externalLink">
                            <span class="mr" v-translate>Source</span>
                            <i class="fa fa-external-link"></i>
                        </a>
                    </li>
                    <li
                        class="p-inline-list__item"
                        v-if="!isExternalLink"
                    >
                        <span v-translate>Source</span>: {{recipe.source}}
                    </li>

                    <li class="p-inline-list__item">
                        <router-link :to="{name: 'recipe-edit', params: {id: recipe.id}}">
                            <span class="mr" v-translate>Edit</span>
                            <i class="fa fa-edit"></i>
                        </router-link>
                    </li>

                    <li class="p-inline-list__item">
                        <a @click="confirmRemove()" class="clickable">
                            <span class="mr" v-translate>Delete</span>
                            <i class="fa fa-remove"></i>
                        </a>
                    </li>

                    <li class="p-inline-list__item">
                        <a
                            :href="jsonExport"
                            :download="`${recipe.title}.json`"
                            class="clickable" title="Compatible with vabene1111/recipes"
                        >
                            <span class="mr" v-translate>Export as JSON</span>
                            <i class="fa fa-download"></i>
                        </a>
                    </li>

                    <li class="p-inline-list__item">
                        <a
                            :href="textExport"
                            :download="`${recipe.title}.text`"
                            class="clickable"
                        >
                            <span class="mr" v-translate>Export as text</span>
                            <i class="fa fa-download"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="p-card">
                        <h3 class="p-card__title" v-translate>Ingredients</h3>

                        <p class="p-card__content">
                            <span v-translate>Scale</span>:
                            <select class="scale-select" v-model="scale">
                                <option :value="1" v-translate>No Scaling</option>
                                <option :value="0.25">1/4</option>
                                <option :value="0.5">1/2</option>
                                <option :value="2">2</option>
                                <option :value="3">3</option>
                                <option :value="4">4</option>
                                <option :value="5">5</option>
                            </select>
                        </p>

                        <!-- TODO add a button to add an ingredient to the grocery list-->
                        <p class="p-card__content ingredients">
                            <ul class="p-list">
                                <li
                                    class="p-list__item"
                                    v-for="ingredient in ingredients"
                                    :key="ingredient"
                                    v-html="ingredient"
                                ></li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="col-6">
                    <div class="p-card" v-if="recipe.directions">
                        <h3 class="p-card__title" v-translate>Directions</h3>
                        <p class="p-card__content">
                            <ol class="directions">
                                <li v-for="(direction, index) in directions" :key="direction">
                                    <input type="checkbox" :id="'direction-' + index" />
                                    <label v-html="direction" :for="'direction-' + index"></label>
                                </li>
                            </ol>
                        </p>
                    </div>

                    <div class="p-card" v-if="recipe.notes">
                        <h3 class="p-card__title" v-translate>Notes</h3>
                        <p class="p-card__content pre">{{recipe.notes}}</p>
                    </div>
                </div>
            </div>
        </div>

        <modal name="confirm-remove">
            <div class="p-strip">
                <h3 v-translate>
                    Are you sure your want to delete this recipe?
                </h3>

                <button
                    class="p-button--neutral"
                    @click="$modal.hide('confirm-remove')"
                    v-translate
                >
                    Cancel
                </button>
                <button class="p-button--negative" @click="remove()" v-translate>
                    Delete
                </button>
            </div>
        </modal>

        <modal name="error-message">
            <div class="p-strip">
                <h3>
                    <span v-translate>Error</span>: {{errorMessage}}
                </h3>

                <button class="p-button--neutral" @click="closeErrorMessage()" v-translate>
                    Ok
                </button>
            </div>
        </modal>
    </div>
</template>

<script>
import { Fraction } from 'fractional';

import storage from '@/storage';
import utils from '@/utils';

const FRACTIONS = {
    '⅛': ' 1/8',
    '⅜': ' 3/8',
    '⅝': ' 5/8',
    '⅞': ' 7/8',
    '¼': ' 1/4',
    '¾': ' 3/4',
    '⅓': ' 1/3',
    '⅔': ' 2/3',
    '½': ' 1/2',
};

export default {
    name: 'RecipeView',
    head: {
        title: function() {
            return {inner: (this.recipe && this.recipe.title) ? this.recipe.title : ''};
        },
    },
    data() {
        return {
            recipe: {},
            loading: false,
            errorMessage: '',
            scale: 1,
        };
    },
    created() {
        this.loading = true;
        this.load();

        this.$bus.$on('reload-recipes', () => {
            this.load();
        });
    },
    methods: {
        load() {
            storage.recipes.find(this.$route.params.id).then((recipe) => {
                if (recipe) {
                    this.recipe = recipe;

                    this.$emit('updateHead');
                }
                else {
                    this.errorMessage = this.$gettext('Recipe not found');
                    this.$modal.show('error-message');
                }

                this.loading = false;
            }).catch((err) => {
                console.error(err);
                if (err.getMessage) {
                    this.errorMessage = err.getMessage();
                }
                else {
                    this.errorMessage = err;
                }

                this.$modal.show('error-message');
            });
        },
        confirmRemove() {
            this.$modal.show('confirm-remove');
        },
        remove() {
            this.$modal.hide('confirm-remove');

            storage.recipes.remove(this.$route.params.id).then(() => {
                this.$router.push({name: 'recipe-list'});
            });
        },
        closeErrorMessage() {
            this.$modal.hide('error-message');
            this.$router.push({name: 'recipe-list'});
        },
        isNumber(str) {
            // Account for fractions
            str = str.replace('/', '');
            let number = parseFloat(str, 10);

            return (!Number.isNaN(number) && number == str);
        },
        parseAndScale(str) {
            let number = null;
            if (str.includes('/')) {
                let parts = str.split('/');
                let fraction = new Fraction(parseInt(parts[0], 10), parseInt(parts[1], 10));

                number = fraction.multiply(this.scale);
            }
            else {
                number = new Fraction(parseInt(str, 10) * this.scale);
            }

            return number;
        },
    },
    computed: {
        ingredients() {
            // TODO return each ingredient as a parsed object

            let ingredients = [];
            if (this.recipe && this.recipe.ingredients) {
                ingredients = this.recipe.ingredients.split('\n').filter((ingredient) => ingredient.trim());

                ingredients = ingredients.map((ingredient) => {
                    if (ingredient[0] == '#') {
                        return `<h4>${ingredient.substring(1).trim()}</h4>`;
                    }

                    Object.keys(FRACTIONS).forEach((key) => {
                        ingredient = ingredient.replace(key, FRACTIONS[key]);
                    });

                    // Also handle numbers that are in parenthesis
                    let words = ingredient.replace('(', ' ( ').replace(')', ' ) ').split(' ');

                    let formatted = [];
                    for (let i = 0; i < words.length; i++) {
                        let word = words[i];
                        let nextWord = (i + 1 < words.length) ? words[i + 1] : '';

                        if (this.isNumber(word)) {
                            try {
                                let number = this.parseAndScale(word);
                                if (this.isNumber(nextWord)) {
                                    number = number.add(this.parseAndScale(nextWord));
                                    i++;
                                }

                                formatted.push(`<b>${number.toString()}</b>`);
                            }
                            catch (e) {
                                console.error('error parsing ingredients', e);
                                formatted.push(word);
                            }
                        }
                        else {
                            formatted.push(word);
                        }
                    }

                    return formatted.join(' ').replace(' ( ', '(').replace(' ) ', ')');
                });
            }

            return ingredients;
        },
        directions() {
            let directions = [];
            if (this.recipe && this.recipe.directions) {
                directions = this.recipe.directions.split('\n').filter((direction) => direction.trim());
            }

            return directions;
        },
        image() {
            let image = '';
            if (this.recipe && this.recipe.image) {
                image = utils.imageUrl(this.recipe.image);
            }

            return image;
        },
        isExternalLink() {
            return this.recipe.source && (
                this.recipe.source.startsWith('https://') ||
                this.recipe.source.startsWith('http://')
            );
        },
        externalLink() {
            if (process.env.VUE_APP_APP_MODE === 'true') {
                return `${this.recipe.source}##EXTERNAL##`;
            }

            return this.recipe.source;
        },
        jsonExport() {
            return `data:text/plain;charset=utf-8,${encodeURIComponent(JSON.stringify({
                name: this.recipe.title,
                image: this.recipe.image,
                keywords: [],
                steps: this.directions.map((instruction, index) => {
                    let step = {
                        name: '',
                        type: 'TEXT',
                        instruction,
                        ingredients: [],
                    };

                    if (index === 0) {
                        step.ingredients = this.recipe.ingredients.split('\n')
                            .filter((ingredient) => ingredient.trim())
                            .filter((ingredient) => (ingredient[0] != '#'))
                            .map((ingredient, jindex) => {
                                let food = '';
                                let unit = '';
                                let amount = 0;

                                Object.keys(FRACTIONS).forEach((key) => {
                                    ingredient = ingredient.replace(key, FRACTIONS[key]);
                                });
                                let words = ingredient.trim().split(' ');
                                if (this.isNumber(words[0])) {
                                    amount = this.parseAndScale(words.shift());
                                    amount = amount.numerator / amount.denominator;

                                    unit = words.shift();
                                    food = words.join(' ');
                                }
                                else {
                                    food = ingredient;
                                }

                                return {
                                    food: {
                                        name: food,
                                        recipe: null,
                                    },
                                    unit: unit ? {
                                        name: unit,
                                        description: null,
                                    } : null,
                                    amount,
                                    note: '',
                                    order: jindex,
                                    is_header: false,
                                    no_amount: false,
                                };
                            });

                        if (this.recipe.source) {
                            step.instruction += `\n\nSource: ${this.recipe.source}`;
                        }

                        if (this.recipe.image) {
                            step.instruction += `\n\nImage: ${this.recipe.image}`;
                        }
                    }

                    return step;
                }),
                working_time: this.recipe.prep_time,
                waiting_time: this.recipe.total_time - this.recipe.prep_time,
                nutrition: null,
                servings: 1,
            }))}`;
        },
        textExport() {
            let recipe = [
                this.recipe.title,
                this.recipe.source ? `Source: ${this.recipe.source}` : null,
                this.recipe.image ? `Image: ${this.recipe.image}` : null,
                `Prep Time: ${this.recipe.prep_time} minutes, Total Time: ${this.recipe.total_time} minutes`,
                '\n',
            ];
            recipe = recipe.concat(
                this.recipe.ingredients.split('\n')
                    .filter((ingredient) => ingredient.trim()),
            );
            recipe.push('\n');
            recipe = recipe.concat(
                this.recipe.directions.split('\n')
                    .filter((direction) => direction.trim()),
            );
            recipe.push('\n');

            return `data:text/plain;charset=utf-8,${encodeURIComponent(recipe.filter(Boolean).join('\n'))}`;
        },
    },
};
</script>

<style scoped>
.p-card .p-card__header img {
    max-height: 20em;
}

.p-card__title {
    margin-top: 0.5em;
}

.pre {
    white-space: pre-line;
}

ol.directions {
    padding-left: 0;
}

ol.directions li {
    padding-left: 0.5em;
}

i {
    margin-top: 0;
}

.scale-select {
    margin-left: 0.5rem;
    width: 8rem;
}
</style>
